# /
/.project
/*.settings
/*.cache
/.buildpath

.DS_Store

# /config/
/config/database.php
/config/core.php
/config/frontend.cfg.php

# /tmp/
/tmp/*.php.backup
/tmp/import

# /tmp/cache/
#/tmp/cache/cake_*

# /tmp/cache/models/
#/tmp/cache/models/*

# /tmp/cache/persistent/
#/tmp/cache/persistent/*

# /tmp/cache/views/
#/tmp/cache/views/*

# /tmp/logs/
#/tmp/logs/*

# /tmp/smarty/compile/
#/tmp/smarty/compile/*

# /webroot/
/webroot/test.php
/webroot/index.php

# /webroot/files/
/webroot/files/*

# /webroot/img/
/webroot/img/.directory

# /webroot/js/libs/richtexteditors/conf/local
/webroot/js/libs/richtexteditors/conf/local/*
